/*
  Name: Billet simple pour l'Alaska
  Date: September 2018
  description: >-
  Blog engine for an author.
  Version: 1.0
  Author: Abel L. Mbula
  Autor URI: http://abelmbula.com
*/

.m-border-b {
  border-bottom: 1px solid #e5e5e5;
  text-transform: capitalize;
}

.entry-footer {
  background-color: #f1f1f1;
  color: rgba( 34, 49, 63, 0.7);
}

body {
  background-color: #f4f4f4;
  padding: 50px 0px 0px 0px;
  z-index: 0;
}

article {
  /*background-color: #ffffff;
  margin-bottom: 35px;
  padding: 25px;*/
}

.entry-footer {
  padding: 0px;
}

.wrapper {
  display: flex;
  width: 100%;
}

#posts {
   max-width: 830px;
   padding-left: 5%;
   padding-right: 5%;
   /*margin: 0 auto;*/
}

#content {
  /*width: calc(100% - 400px);
  padding: 40px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;*/
  /*background-color: #ffffff;*/
}

a {
  text-decoration: none;
}

nav a {
  color: #ffffff;
}
/*{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}*/

.post p
{
    background-color:#CCCCCC;
    margin-top:0px;
}

.post
{
    width:70%;
    margin:auto;
}

a
{
    text-decoration: none;
    color: blue;
}

a:hover {
  text-decoration: none;
}
